.env
.env.*
!.env.example
.venv*/
venv/
ENV/
env/

__pycache__/
*.py[cod]
*.so
*.egg-info/
build/
dist/

.ipynb_checkpoints/
*.ipynb_checkpoints

dataset_deepdetect/
data/raw/
data/processed/
*.cache

runs/
checkpoints/
results/generated/

*.pt
*.pth

.vscode/
.idea/
Thumbs.db
.DS_Store
